<div class="w-full app-margin px-4">
  <h1 class="text-slate-800 dark:text-slate-100 font-bold page-title">
    Albums
  </h1>
  <div
    class="bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 box-table"
  >
    <div class="px-2 py-1 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h2 class="text-slate-800 mt-2 dark:text-slate-100">All Albums</h2>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <div class="custom-light-theme">
        <table mat-table [dataSource]="dataSource" class="mat-table">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let post">{{ post.id }}</td>
          </ng-container>

          <!-- User ID Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef>User ID</th>
            <td mat-cell *matCellDef="let post">{{ post.userId }}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let post">
              <span class="font-medium">{{ post.title }}</span>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let post">
              <!-- Example Action Button -->
              <button (click)="viewPost(post.id)" mat-button>
                <span class="material-symbols-outlined"> visibility </span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
