<div class="w-full app-margin px-4">
  <div
    *ngIf="post$ | async as post"
    class="relative flex flex-col min-w-0 break-words w-full mb-8 rounded-lg bg-white text-blueGray-700"
  >
    <div class="px-6 py-4 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h3 class="font-bold text-lg text-blueGray-700">{{ post.title }}</h3>
        </div>
      </div>
      <img mat-card-image [src]="post.url" alt="{{ post.title }}" />
    </div>
  </div>
</div>
