<div class="min-h-screen bg-gray-50/50 flex flex-col sm:flex-col lg:flex-row">
  <aside
    class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 inset-0 z-50 h-screen w-72 transition-transform duration-300 fixed xl:static xl:translate-x-0"
  >
    <div class="relative border-b border-white/20">
      <a class="flex items-center gap-4 py-6 px-8" href="#/">
        <h1
          class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white"
        >
          KAMI Workforce
        </h1>
      </a>
      <button
        class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
        type="button"
      >
        <span
          class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            aria-hidden="true"
            class="h-5 w-5 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </span>
      </button>
    </div>
    <div class="m-4">
      <ul class="mb-4 flex flex-col gap-1">
        <li *ngFor="let item of navItems">
          <a
            [attr.aria-current]="item.ariaCurrent"
            routerLinkActive="{{ item.routerLinkActive }}"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions"
            [routerLink]="item.routerLink"
          >
            <button [ngClass]="item.buttonClass" type="button">
              {{ item.buttonText }}
            </button>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="w-full">
    <mat-toolbar>
      <form *ngIf="isLoggedIn">
        <div class="d-flex user-details">
          <span class="github-link"
            ><a
              class="git-link"
              target="_blank"
              [href]="'https://github.com/' + gitHubLink"
              >Github</a
            ></span
          >
          <span class="mr-2 user-data" [innerHTML]="userData"></span>
          <img [src]="userAvatar" alt="user" class="user-image" />
          <button (click)="signOut()" type="button" class="logout-btn">
            {{ logoutLabel }}
          </button>
        </div>
      </form>
    </mat-toolbar>
    <div class="main-content w-full">
      <router-outlet></router-outlet>
      <div class="inset-0 flex justify-center items-center">
        <mat-spinner
          *ngIf="isLoading | async"
          class="spinner"
          [diameter]="50"
        ></mat-spinner>
      </div>
    </div>
  </div>
</div>
